body {
    margin: 0;
}

.header {
    width: 100vw;
    height: 20vh;
    background: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news_1 {
    width: 20vw;
    height: 60vh;
    background: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_1 {
    width: 60vw;
    height: 30vh;
    background: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_2 {
    width: 60vw;
    height: 30vh;
    background: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor {
    width: 20vw;
    height: 60vh;
    background: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.footer {
    width: 100vw;
    height: 20vh;
    background: indianred;
    display: flex;
    justify-content: center;
    align-items: center;
}