body{
    margin: 0;
    background: violet;
}

.title{
    justify-content: center;
    display: flex;
}

.main{
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.box{
    width: 440px;
    height: 530px;
    padding: 30px;
    background: crimson;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.button{
    border: 3px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}