body {
    margin: 0;
}

.header {
    width: 100vw;
    height: 20vh;
    background: darkseagreen;
}

.box_1 {
    width: 33.33vw;
    height: 20vh;
    background: palevioletred;
}

.box_2 {
    width: 33.33vw;
    height: 20vh;
    background: burlywood;
}

.box_3 {
    width: 33.33vw;
    height: 20vh;
    background: khaki;
}

.box_4 {
    width: 33.33vw;
    height: 60vh;
    background: lightsalmon;
}

.box_5 {
    width: 33.33vw;
    height: 60vh;
    background: chocolate;
}

.flex {
    display: flex;
}

.footer {
    width: 100vw;
    height: 20vh;
    background: hotpink;
}

.header, .box_1, .box_2, .box_3, .box_4, .box_5, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}