.box_1 {
    width: 400px;
    height: 550px;
    border: black solid 1px;
    margin-bottom: 10px;
}

.button{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.box_2{
    width: 400px;
    height: 80px;
    border: black solid 1px;
    display: flex;
    justify-content: center;
}

#input_1, #input_2{
    margin: 5px;
}