body, .box_1 > h1, .box_2 > h1 {
    margin: 0;
}

.box_1 {
    width: 100vw;
    height: 50vh;
    background: coral;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.box_2 {
    width: 100vw;
    height: 50vh;
    background: darkorange;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

